@charset "utf-8";

.widget_content_biz_layout_v1_0_w1 { position:relative; width:100%; padding:10px 0px 0px 0px; }
.widget_content_biz_layout_v1_0_w1 .carouselWrap2 { position:relative; width:860px; height:300px; overflow:hidden; margin:0px auto; }
.widget_content_biz_layout_v1_0_w1 .carouselWrap2 .thumb { display:inline-block; }
.widget_content_biz_layout_v1_0_w1 .carouselWrap2 .thumb img { border:1px solid #ddd; }

.widget_content_biz_layout_v1_0_w1 .prev2,.next2 {cursor:pointer;position:absolute;z-index:500;opacity:0.5;filter:alpha(opacity=50); margin:50px 0 0 0;}
.widget_content_biz_layout_v1_0_w1 .prev2 {background:url(../img/left.png) no-repeat 0 0;width:22px;height:42px;}
.widget_content_biz_layout_v1_0_w1 .next2 {background:url(../img/right.png) no-repeat 0 0;width:22px;height:42px;}
.widget_content_biz_layout_v1_0_w1 .prev2:hover{opacity:0.90;filter:alpha(opacity=90); }
.widget_content_biz_layout_v1_0_w1 .next2:hover{opacity:0.90;filter:alpha(opacity=90); }

.widget_content_biz_layout_v1_0_w1 .centerTitle1{position:relative; display:none; visibility:hidden;}
.widget_content_biz_layout_v1_0_w1 .centerTitle1 .imageTitle2{}
.widget_content_biz_layout_v1_0_w1 .centerTitle1 .imageComment2{}
