#topvisual  {background:url(/xe/common/img/topvisual.jpg) no-repeat; width:980px; height:260px; margin:0 auto; margin-top:35px;}
#topmenu   {background:url(/xe/common/img/topmenu.jpg) no-repeat; width:980px; height:66px; margin:0 auto;}
#menuname  {display:inline-block; padding:0 20px;}
.banner    {padding:0px; margin:0px 0px 10px 0px;}